@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;400;600;700&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/
body, .navbar ul li a {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.4; }

header p, header ul li a {
  font-size: 12px;
  color: #7f7f7f;
  text-transform: uppercase; }

.navbar ul li a:hover, .navbar ul li:last-child a, .banner-section .container .btn-custom, .service-section .btn-custom, .service-section .btn-custom:hover, .consultation-section .btn-custom {
  background: #ff9b1a !important;
  color: #fff !important;
  border: 1px solid #ff9b1a !important;
  padding: 12px 15px !important;
  border-radius: 30px; }

.banner-section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); }

.banner-section::after, .feature-section .feature:hover::after, .feature-section .feature::before, .steps-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

p {
  margin-bottom: 0; }

/************** header ****************/
header {
  padding: 4px, 0;
  background-color: #efefef; }
  header ul {
    justify-content: flex-end; }
    @media (max-width: 1399px) {
      header ul {
        justify-content: flex-center; } }
    header ul li a {
      transition: 0.3s; }
      header ul li a:hover {
        color: #ff9b1a !important; }

/************* navbar ***************/
.navbar {
  padding: 30px  0; }
  .navbar ul li a {
    padding: 12px 15px !important;
    color: #161616 !important;
    border: 1px solid transparent;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500; }
    @media (max-width: 1399px) {
      .navbar ul li a {
        padding: 10px 10px !important;
        font-size: 12px !important; } }
  .navbar ul li a:hover {
    padding: 12px 15px !important; }
    @media (max-width: 1399px) {
      .navbar ul li a:hover {
        padding: 10px 10px !important;
        font-size: 12px !important; } }
  .navbar ul li:last-child a {
    margin-left: 100px; }
    @media (max-width: 1399px) {
      .navbar ul li:last-child a {
        padding: 10px 10px !important;
        font-size: 12px !important;
        margin-left: 50px; } }
    .navbar ul li:last-child a:hover {
      padding: 12px 15px !important;
      background: transparent !important;
      color: #ff9b1a !important; }
      @media (max-width: 1399px) {
        .navbar ul li:last-child a:hover {
          padding: 10px 10px !important;
          font-size: 12px !important;
          margin-left: 50px; } }

/************** banner-section ***********/
.banner-section {
  position: relative; }
  .banner-section::after {
    background-color: #333;
    opacity: 0.88;
    z-index: 0; }
  .banner-section .container {
    z-index: 1; }
    .banner-section .container h1 {
      color: #fff;
      font-size: 52px;
      font-weight: 700; }
    .banner-section .container .banner-inner {
      padding: 50px 0;
      color: #fff; }
      .banner-section .container .banner-inner h4 {
        font-size: 20px; }
      .banner-section .container .banner-inner h5 {
        font-size: 14px; }
    .banner-section .container .btn-custom {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase; }
      .banner-section .container .btn-custom:hover {
        background: transparent !important;
        border-color: #fff !important; }

/************* feature-section ****************/
.feature-section {
  padding: 80px 0; }
  .feature-section .feature {
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 40px 30px;
    position: relative; }
    .feature-section .feature:hover::before {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1); }
    .feature-section .feature:hover::after {
      opacity: 0.7;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      background: linear-gradient(0deg, #ff6f02 0%, #d9b303 100%);
      z-index: -1; }
    .feature-section .feature:hover img {
      filter: grayscale(100%) brightness(1000%); }
    .feature-section .feature:hover h2 {
      color: #fff; }
    .feature-section .feature:hover p {
      color: #fff; }
    .feature-section .feature img {
      height: 70px; }
    .feature-section .feature h2 {
      font-size: 17px;
      font-weight: 600;
      margin: 30px 0; }
    .feature-section .feature p {
      font-size: 14px;
      color: #545454;
      font-weight: 300; }
    .feature-section .feature::before {
      background: url(../images/bitcoin-2007769_1920.png);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      z-index: -1; }

/**************** header ***************/
.header {
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 50px; }
  .header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2b2b2b;
    text-transform: uppercase; }
  .header p {
    font-size: 14px;
    font-weight: 300;
    color: #6e6e6e;
    max-width: 550px;
    margin: auto; }
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateX(-50%);
    background-color: #fb8f2c;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0); }

/*********** service-section ************/
.service-section {
  padding-bottom: 50px; }
  .service-section:hover .header::after {
    transform: scaleX(0.05);
    -webkit-transform: scaleX(0.05);
    -moz-transform: scaleX(0.05);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; }
  .service-section .service h2 {
    margin: 15px 0; }
  .service-section .service p {
    margin-bottom: 25px; }
  .service-section .btn-custom {
    background-color: transparent !important;
    border-color: #8e8e8e !important;
    color: #2b2b2b !important;
    text-transform: uppercase;
    font-weight: 600;
    margin: 25px 0; }

/*********** simple-steps-section **********/
.steps-section {
  background-image: url(../images/bitcoin-3024279.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  position: relative; }
  .steps-section::before {
    background-color: #333;
    opacity: 0.7;
    z-index: 0; }
  .steps-section .header {
    text-align: left; }
    .steps-section .header h2 {
      color: #fff; }
    .steps-section .header::after {
      left: 0;
      transform: scale(1);
      width: 0; }
  .steps-section .step-img {
    position: relative;
    text-align: center; }
    .steps-section .step-img img:nth-child(2) {
      position: absolute;
      width: 200px;
      left: 50%;
      bottom: 30%;
      transform: translate(-50%, -30%); }
  .steps-section .steps {
    position: relative;
    margin: 30px 0; }
    .steps-section .steps span {
      border: 1px solid #fb8f2c;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      transform: rotate(45deg); }
    .steps-section .steps h3 {
      font-size: 18px;
      color: #fff; }
    .steps-section .steps p {
      font-size: 14px;
      color: #fff; }
  .steps-section:hover .header::after {
    transform: scale(1);
    width: 100px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; }

/********************** amounts-section ****************/
.amounts-section {
  padding: 70px 0;
  background-color: #ff9b1a;
  color: #fff; }
  .amounts-section .amount-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px; }
  .amounts-section .amount-inner p {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase; }

/************** spider-section ***************************/
.spider-section {
  padding: 50px 0; }
  .spider-section .spider {
    position: relative;
    padding: 80px 0;
    text-align: center; }
    .spider-section .spider .spider-box {
      position: absolute; }
      .spider-section .spider .spider-box span {
        height: 50px;
        width: 50px;
        line-height: 50px;
        position: relative;
        font-size: 26px;
        display: block;
        margin: auto;
        margin-bottom: 20px; }
        .spider-section .spider .spider-box span::before {
          content: "";
          position: absolute;
          border: 2px solid;
          border-radius: 10px;
          transform: rotate(45deg);
          top: 0;
          left: 0;
          height: 100%;
          width: 100%; }
      .spider-section .spider .spider-box p {
        font-size: 18px;
        font-weight: 600;
        color: #333; }
    .spider-section .spider .red span {
      color: #f05659; }
    .spider-section .spider .green span {
      color: #63cd68; }
    .spider-section .spider .blue span {
      color: #43c5ca; }
    .spider-section .spider .top {
      top: 0; }
    .spider-section .spider .right {
      right: 0; }
    .spider-section .spider .middle {
      top: 50%;
      transform: translateY(-50%); }
    .spider-section .spider .bottom {
      bottom: 0; }
    .spider-section .spider .left {
      left: 0; }
    .spider-section .spider .left.middle {
      left: -100px; }
    .spider-section .spider .right.middle {
      right: -100px; }

/************* ourteam section ***************/
.our-team {
  padding: 50px 0; }
  .our-team:hover .header::after {
    transform: scaleX(0.05);
    -webkit-transform: scaleX(0.05);
    -moz-transform: scaleX(0.05);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; }
  .our-team .team-inner {
    text-align: center; }
    .our-team .team-inner h4 {
      font-size: 18px;
      font-weight: 600;
      color: #1e1e1e;
      margin-top: 40px; }
    .our-team .team-inner p {
      font-size: 14px;
      font-weight: 400;
      color: #fba057;
      text-transform: uppercase; }

/************ consultation-section ********************/
.consultation-section {
  background-image: url(../images/consultation-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .consultation-section .header h2 {
    color: #fff; }
  .consultation-section .header:hover::after {
    transform: scaleX(0.05);
    -webkit-transform: scaleX(0.05);
    -moz-transform: scaleX(0.05);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; }
  .consultation-section .mb-4 .form-control {
    box-shadow: none !important;
    border-color: #fff !important;
    color: #fff !important; }
  .consultation-section .mb-4 ::placeholder {
    color: #fff; }
  .consultation-section .btn-custom {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 45px !important; }
    .consultation-section .btn-custom:hover {
      background: transparent !important;
      border-color: #fff !important; }

/**************** our-blog-section *********/
.our-blog-section {
  margin-top: 80px; }
  .our-blog-section:hover .header::after {
    transform: scaleX(0.05);
    -webkit-transform: scaleX(0.05);
    -moz-transform: scaleX(0.05);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; }
  .our-blog-section .card {
    border-radius: 10px; }
    .our-blog-section .card .card-body {
      padding-top: 0; }
      .our-blog-section .card .card-body ul {
        align-items: center; }
        .our-blog-section .card .card-body ul li > a {
          font-size: 16px;
          font-weight: 700;
          background-color: #f26c4f;
          color: #fff;
          height: 40px;
          width: 40px;
          line-height: 40px;
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          transform: translateY(-20px); }
        .our-blog-section .card .card-body ul li span {
          font-size: 12px;
          font-size: 300;
          color: #6e6e6e; }
          .our-blog-section .card .card-body ul li span a {
            font-size: 12px;
            font-size: 300;
            color: #6e6e6e;
            text-decoration: none; }
      .our-blog-section .card .card-body h3 {
        font-size: 16px;
        font-weight: 700;
        color: #2b2b2b; }
      .our-blog-section .card .card-body p {
        font-size: 14px;
        font-weight: 300;
        color: #6e6e6e; }

/**************** feedback-from ***************/
.service-section {
  margin-top: 50px; }
  .service-section:hover .header::after {
    transform: scaleX(0.05);
    -webkit-transform: scaleX(0.05);
    -moz-transform: scaleX(0.05);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; }
  .service-section .carousel .carousel-inner {
    text-align: center; }
    .service-section .carousel .carousel-inner .carousel-item .client-pic {
      position: relative;
      display: inline-block; }
      .service-section .carousel .carousel-inner .carousel-item .client-pic img {
        margin: auto; }
      .service-section .carousel .carousel-inner .carousel-item .client-pic span {
        position: absolute;
        background-color: #f7902b;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        border: 3px solid #fff;
        right: 0;
        bottom: 50%; }
    .service-section .carousel .carousel-inner .carousel-item .carousel-caption {
      position: static; }
      .service-section .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 16px;
        font-weight: 700;
        color: #1c1c1c; }
      .service-section .carousel .carousel-inner .carousel-item .carousel-caption p {
        font-size: 14px;
        font-weight: 300;
        color: #fb8f2c;
        text-transform: uppercase; }
  .service-section .carousel .carousel-control-prev span {
    color: #999999 !important;
    font-size: 25px; }
    .service-section .carousel .carousel-control-prev span:hover {
      color: #ff9b1a !important; }
  .service-section .carousel .carousel-control-next span {
    color: #999999 !important;
    font-size: 25px; }
    .service-section .carousel .carousel-control-next span:hover {
      color: #ff9b1a !important; }

/*************** footer ****************/
footer {
  padding-top: 50px;
  background-color: #101010;
  border-top: 5px solid #f7902b; }
  footer .widget p {
    padding: 50px 0;
    font-size: 15px;
    color: #989898;
    line-height: 30px; }
  footer .widget .social-icons li a {
    font-size: 20px;
    color: #343332;
    margin-right: 10px; }
    footer .widget .social-icons li a i {
      height: 50px;
      width: 50px;
      line-height: 50px;
      border: 2px solid #343332;
      border-radius: 50%;
      text-align: center;
      transition: 0.3s; }
      footer .widget .social-icons li a i:hover {
        color: #00aced;
        box-shadow: 0px 0px 20px 10px rgba(0, 172, 237, 0.56);
        -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 172, 237, 0.56); }
  footer .widget h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px; }
    footer .widget h4::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #fa9027;
      left: 0;
      bottom: -100%; }
  footer .widget .contact-us li {
    color: #989898; }
    footer .widget .contact-us li i {
      margin-right: 10px;
      margin-bottom: 10px; }
    footer .widget .contact-us li span {
      margin-bottom: 10px;
      display: inherit; }
  footer .widget .quick-links li a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: #989898; }
    footer .widget .quick-links li a:hover {
      color: #ff9b1a !important; }
  footer .widget .input-group .form-control {
    height: 45px;
    border-radius: 30px !important;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: none !important; }
  footer .widget .input-group .input-group-text {
    position: absolute;
    right: 0;
    border: none;
    padding: 0;
    background-color: transparent; }
    footer .widget .input-group .input-group-text button {
      background-color: #f78f2f;
      border: none;
      height: 45px;
      width: 45px;
      line-height: 45px;
      border-radius: 40px;
      z-index: 10; }
    footer .widget .input-group .input-group-text .fa-long-arrow-alt-right {
      color: #fff; }
  footer .bottom-footer {
    padding: 25px 0;
    margin-top: 50px;
    background-color: #000; }
    footer .bottom-footer p {
      font-size: 12px;
      color: #737272; }
    footer .bottom-footer ul li a {
      text-decoration: none;
      font-size: 12px;
      color: #737272;
      margin-left: 20px;
      text-transform: uppercase; }
      footer .bottom-footer ul li a:hover {
        color: #ff9b1a !important; }

/*# sourceMappingURL=style.css.map */
